html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border:0 none;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.4em;
    font-style:normal;
    margin:0;
    padding:0;
    text-align:left;
}

html {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    background: url("frontendroot?fileName=default/images/gradient_bg.png") repeat-x scroll 0 0 #009FE3;
}
body {
    background: url("frontendroot?fileName=default/images/water-texture2.png") repeat scroll 0 0 transparent;
    font-size: 0.813em;
    color:#474747;
	padding-bottom: 60px;
}

a{
color:#009FE3;
text-decoration:none;}

a:hover{
color:red;
text-decoration:underline;}

#container {
 background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 4px #333333;
    margin: 0 auto 30px;
    padding: 0 30px;
    position: relative;
    text-align: left;
    width: 790px;
}
/* Header */
#header {
    height:90px;
    width: 790px;
	position:relative;
}
#logo {
    position:relative;
    top:30px;
}
#SearchContainer {
    position: absolute;
    top: 45px;
    width: 100%;
	text-align:center
}

#ACLanguage2 {
    color: #1770A7;
    font-size:13px;
    left: 2px;
    position: absolute;
    top: 3px;
}
#SearchContainer .yui-ac-input {
    background: url("frontendroot?fileName=default/images/lupe.gif") no-repeat scroll 8px 6px #F8F9F9;
	border:1px solid #E4E4E4;
	padding:6px 5px 6px 30px;
	font-family: 'Fira Sans', sans-serif;
	color:#999;
	width: 290px;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#SearchContainer .yui-ac-input:focus {
    background: url("frontendroot?fileName=default/images/lupe.gif") no-repeat scroll 8px 6px #fff;
}

#SearchContainer .yui-ac-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-top: 0;
    overflow: hidden;
    position: absolute;
    z-index: 9050;
    margin-top: 0;
    position: relative;
    top: -1px;
    width: 325px;
}
#SearchContainer .yui-ac {
    margin: 0 auto;
    width: 327px;
	position:relative;
}

#SearchContainer .yui-ac-content ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
#SearchContainer .yui-ac-content li {
    margin-left:0;
    padding:4px 10px;
	cursor:pointer;
}
#SearchContainer .yui-ac-content li:nth-child(even) {
background-color:#ECF1F4;
}

#SearchContainer .yui-ac-content li.yui-ac-highlight {
    background-color:#1C69AD;
	color:#fff;
}

#index-bar{
 float: left;
    margin: 15px 0;
    width: 101%;}

#index-bar ul li{
float:left;}

#index-bar ul li a{
	border: 1px solid #E4E4E4;
	cursor:pointer;
    display: block;
    height: 1.6em;
    line-height: 1.6em;
    margin: 0 0.5em 0 0;
    text-align: center;
    width: 1.7em;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border-radius:0px \0/;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f8f8));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f8f8 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f8f8 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f8f8 100%);
	background: linear-gradient(top,  #ffffff 0%,#f6f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f8f8',GradientType=0 );
	}

	#index-bar ul li a:hover{
	text-decoration:none;
	background: #f6f8f8;
	background: -moz-linear-gradient(top,  #f6f8f8 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f8), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #f6f8f8 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #f6f8f8 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #f6f8f8 0%,#ffffff 100%);
	background: linear-gradient(top,  #f6f8f8 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f8', endColorstr='#ffffff',GradientType=0 );}

.content_wrapper{
 border: 1px solid #E4E4E4;
 padding:3px;
 clear: both;
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.content_wrapper .index_wrapper {
    overflow: hidden;
    padding: 17px;
}

.content_wrapper #main_content {
    padding: 17px 17px 3px;
}

#tabs {
    float: left;
    width: 100%;
    z-index: 100;
	padding: 4px 0 0;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border-radius:0px \0/;
	background: #E4E4E4;
background: -moz-linear-gradient(top,  #E4E4E4 0%, #E9EDED 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E4E4E4), color-stop(100%,#E9EDED));
background: -webkit-linear-gradient(top,  #E4E4E4 0%,#E9EDED 100%);
background: -o-linear-gradient(top,  #E4E4E4 0%,#E9EDED 100%);
background: -ms-linear-gradient(top,  #E4E4E4 0%,#E9EDED 100%);
background: linear-gradient(top,  #E4E4E4 0%,#E9EDED 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E4E4E4', endColorstr='#E9EDED',GradientType=0 );

}
#tabs li {
    float: left;
}
#tabs li a {
    text-decoration:none;
    font-size:0.923em;
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E4E4E4;
    display: block;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0 4px;
    padding: 7px 24px;
    position: relative;
    text-transform: uppercase;
}

#tabs li.active a {
	background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #ffffff;
    color:#FD17CA;
}

#breadcrumb {
float: left;
    margin: 0 0 15px;
}

#languageSelector, .languageSelector {
     background: url("frontendroot?fileName=default/images/select.gif") no-repeat scroll 40px center #F8F9F9;
    border: 1px solid #E4E4E4;
    float: right;
    height: 23px;
    overflow: hidden;
    position: relative;
    top: -2px;
    width: 53px;
    border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
}

#languageSelector select, .languageSelector select {
    background-color: transparent;
    border: 0 none;
    color: #009FE3;
    height: 23px;
    padding: 2px;
    width: 75px;
	font-size: 0.923em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#SearchContainer .languageSelector {
    height: 28px;
    top: 0;
	right:0;
	position: absolute;
    border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
}

#SearchContainer .languageSelector select {
    height: 29px;
    padding: 5px 2px;
}

#breadcrumb li {
    float:left;
    padding-right:0.5em;
}

#breadcrumb li.separator {
    background: url("frontendroot?fileName=default/images/separator.gif") no-repeat scroll 0 center transparent;
    height: 18px;
    width: 5px;
}
/* Content */


.even, .odd, .box{
	border: 1px solid #E4E4E4;
    float: left;
    margin: 0 15px 30px 0;
    min-height: 155px;
    padding: 15px 21px;
    width: 336px;
	position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f6f8f8));
	background: -webkit-linear-gradient(#fff, #f6f8f8);
	background: -moz-linear-gradient(#fff, #f6f8f8);
	background: -ms-linear-gradient(#fff, #f6f8f8);
	background: -o-linear-gradient(#fff, #f6f8f8);
	background: linear-gradient(#fff, #f6f8f8);
	-pie-background: linear-gradient(#fff, #f6f8f8);
	behavior: url(/default/js/PIE.htc);
	}

.even{
clear:both}

.box{
	float:none;
    margin: 15px 0;
    padding: 15px;
	width:auto;
	min-height: 0;
	display:block;
	}

.addressbox{
	min-height:145px;}

.ld{
	background: #EEF5F8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EEF5F8), to(#D7E9EF));
	background: -webkit-linear-gradient(#EEF5F8, #D7E9EF);
	background: -moz-linear-gradient(#EEF5F8, #D7E9EF);
	background: -ms-linear-gradient(#EEF5F8, #D7E9EF);
	background: -o-linear-gradient(#EEF5F8, #D7E9EF);
	background: linear-gradient(#EEF5F8, #D7E9EF);
	-pie-background: linear-gradient(#EEF5F8, #D7E9EF);
	behavior: url(frontendroot?fileName=default/js/PIE.htc);
	}

.more_less {
    margin: 15px;
}

a.more{
	text-align:center;
	font-size:0.846em;
	padding:8px;
	width:auto;
	display:block;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
	cursor:pointer;
	border:1px solid #009FE3;
	color:#fff;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border-radius:0px \0/;
		background: #11B7EA;
	background: -moz-linear-gradient(top, #11B7EA 0%, #009FE3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11B7EA), color-stop(100%,#009FE3));
	background: -webkit-linear-gradient(top,  #11B7EA 0%,#009FE3 100%);
	background: -o-linear-gradient(top, #11B7EA 0%,#009FE3 100%);
	background: -ms-linear-gradient(top, #11B7EA 0%,#009FE3 100%);
	background: linear-gradient(top, #11B7EA 0%,#009FE3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11B7EA', endColorstr='#009FE3',GradientType=0 );
	}

a.more:hover{
	text-decoration:none;
			background: #009FE3;
	background: -moz-linear-gradient(top, #009FE3 0%, #11B7EA 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009FE3), color-stop(100%,#11B7EA));
	background: -webkit-linear-gradient(top,  #009FE3 0%,#11B7EA 100%);
	background: -o-linear-gradient(top, #009FE3 0%,#11B7EA 100%);
	background: -ms-linear-gradient(top, #009FE3 0%,#11B7EA 100%);
	background: linear-gradient(top, #009FE3 0%,#11B7EA 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009FE3', endColorstr='#11B7EA',GradientType=0 );}

.odd{
    margin: 0 0 30px 15px;}


a.sparqllink{
float:right;
background: url("frontendroot?fileName=default/images/extlink.gif") no-repeat scroll right center transparent;
padding-right:15px;
position: relative;
    top: -5px;}

#main_content {
	clear:both;
}
#main_content p {
    margin: 10px 0;
}

#main_content p.downloads {
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border-radius:0px \0/;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f8f8));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f8f8 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f8f8 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f8f8 100%);
	background: linear-gradient(top,  #ffffff 0%,#f6f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f8f8',GradientType=0 );
    border: 1px solid #E4E4E4;
    bottom: 15px;
    margin: 0 -6px;
    padding: 6px;
    position: absolute;
    width: 335px;
	line-height:1.3em;
}

#main_content p.meta {
    color:#666;
	font-size:0.846em;
	text-transform:uppercase;
	letter-spacing: 0.1em;
	margin:0;
}

#main_content p.meta_concepts {
	padding-bottom:45px
}

#main_content h2 {
    font-size:1.231em;
	font-weight:bold;
	margin: 0 0 10px;
}

.box h2 a{
color: #474747;}

#main_content h1 {
    font-size:1.538em;
    font-weight:bold;
    margin-bottom:1em;
}
#download {
    background-color:#000000;
    border-left:1px solid #FFFFFF;
    float:right;
    font-size:0.9em;
    padding:0.85em 1em;
}
#download a {
    color:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
}
/* Footer */
#footer {
	clear: both;
    margin: 0 auto;
}
#footer ul{
	list-style-type: none;
    padding-bottom: 25px;
    text-align: center;
	margin-top: 10px;

}
#footer li {
    display: inline;
    font-size: 1em;
    margin: 0 3px 0 6px;
    text-align: center;
}
#footer a {
}

#poolparty {
    padding-bottom: 20px;
    text-align: center;
}

#poolparty img {
    display: inline-block;
    margin: 0 5px 42px;
    max-height: 50px;
    vertical-align: middle;
}

#poolparty img.pplogo {
    margin: 0 5px 14px;
	max-height: 40px;
}


/* Special Content */
#main_content div.visual {
    height:700px;
    padding:10px 0;
}
.left {
    float:left;
    height:100%;
}
.right {
    float:right;
    height:100%;
}
/*--- contentstyles ---*/
.resource .label a, .label-uri {
    text-decoration:none;
    color:#464646;
}
.resource .label-uri {
    font-size: 13px;
    text-decoration:none;
    color:#464646;
}
.resource li.ld-altLabel {
    font-style: italic;
}

.clearer {
    clear:both;
    margin:0;
    padding:0;
    line-height:0;
    height:0;
    width:0;
}
.downloads {
}
.project_meta {
    width:400px;
    padding: 40px;
    padding-left:0;
    padding-top:15px;
    padding-bottom:10px;
}
#main_content .concept_list li {
    font-size:1em;
}
#main_content .project_meta p {
    padding: 0;
    margin-bottom:8px;
}
#main_content .label {
    float: left;
    width: 33%;
}
#main_content .value {
    margin-left: 35%;
	word-wrap:break-word;
}

#main_content .row{
width:100%;
margin:5px 0;
clear:both;}

.project #main_content .label {
    font-weight:bold;
    width: 17%;
}
.project #main_content .value {
    margin-left: 18%;
}

.concept_list {
    padding:40px;
    padding-top:15px;
    padding-right:0;
    padding-bottom:10px;
    width:420px;
    border-left: 1px solid #E6E6E6;
    hangingindent
    padding-left: 10px ;
    text-indent: -22px ;
}
}
.concept_list ul {
    padding: 5px;
    padding-top:10px;
}
.project_information {
    position:relative;
    top:-15px;
}
.total_concepts {
    margin-right:30px;
}
.download_link {
    display:inline-block;
    margin-right:5px;
}
.empty {
    font-style:italic;
    color:#ccc;
}
.link {
    font-size:0.7em;
}
.download_link.rdfxml, #main_content p.downloads span a, #main_content li.downloads .download_link{
	line-height:1.6em;
    background: url("frontendroot?fileName=default/images/rdfxml_icon.png") no-repeat scroll left center transparent;
    padding-left: 18px;
	margin-right: 5px;
}
.download_link.vdex {
    background-image:url("frontendroot?fileName=default/images/vdex_icon.png");
    background-repeat:no-repeat;
    padding-left:40px;
}
.download_link.jld {
    background-image:url("frontendroot?fileName=default/images/json.png");
    background-repeat:no-repeat;
    padding-left:20px;
}
ol, ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
#debug {
    display:block;
    position:fixed;
    border-top:2px solid #ccc;
    box-shadow: 0 0 30px 0 #111;
    background-color: white;
    bottom:0;
    overflow:hidden;
    width: 100%;
    max-height:400px;
    z-index:999999;
}
#debug span {
    background-color:#202020;
    display:inline-block;
    color:white;
    width: 100%;
    padding: 2px;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
}
#debug pre {
    padding:10px;
    overflow:auto;
}

.resource {
    width:100%;
}

#resources h1 {
    margin-bottom:5px;
}

#resources h1.other {
	color: #474747;
    font-size: 1.231em;
    margin-top: 25px;
}
#resources td.ld-graph {
    background-image: url("frontendroot?fileName=default/images/box_generic_bg.jpg");
    padding:4px;
}
#resources tr.heading td h2 {
    font-size:13px;
    color:#222;
}

#resources table {
    width:100%;
    margin-top:50px;
    table-layout:fixed;
    word-wrap:break-word;
}
#resources table.ld-altLabel {
    margin-top:10px;
}
#resources table.default {
    margin-top:0px;
}
#resources table td {
    min-height: 20px;
    padding:5px;
    vertical-align:top;
}
#resources .resource table li {
    padding-bottom:3px;
}
#resources table td.label {
    font-size:0.8em;
}
#lower {
    background-image:url("frontendroot?fileName=default/images/lower_left.gif");
    background-position:left top;
    background-repeat:no-repeat;
    float:left;
}
#lower_demo {
    margin: 2.5em 6em;
}
.form input.inp {
    border:1px solid #A2B5C6;
    padding:2px;
}
.form select {
    border:1px solid #A2B5C6;
    padding:1px;
}
#download_link a {
    background-image:url(../graphics/dot.gif); /* Not Found */
    background-position:left center;
    background-repeat:no-repeat;
    padding-left:1em;
}
.error {
    color:Red;
}
/*	-------------------------------------------------------------
	Form styling
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
.standard_form {
    margin-top: 1em;
}

.form_container {
    width: 40em;
}
/*	--- Label style  - - -	*/
.standard_form label {
    clear: left;
    float: left;
    font-size: .75em;
    margin-bottom: .5em;
    margin-right: 15px;
    text-align: right;
    width: 100px;
    font-weight: bold;
}

/*  --- Text style ---*/
.standard_form span.standard_text {
    font-size: .75em;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    vertical-align: top;
}

/*	--- input style  - - -	*/
.standard_form input.standard_input {
    /* background-color: #F7F3EF; */
    border: 1px solid #C4C4C4;
    float: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: .75em;
    margin: 0px 0px 8px 0px;
    padding: 3px;
    width: 150px;
}

.standard_form input.short_input {
    border: 1px solid #C4C4C4;
    font-family: 'Fira Sans', sans-serif;
    font-size: .75em;
    margin: 0px 0px 15px 0px;
    padding: 3px;
    width: 90px;
}

.standard_form textarea {
    /* background-color: #F7F3EF; */
    border: 1px solid #C4C4C4;
    float: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: .75em;
    margin: 0px 0px 8px 0px;
    padding: 3px;
    width: 400px;
}


.standard_form fieldset {
    border: 1px solid #E6E6E6;
    color: #000000;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    width: 20em;
    display: inline;
}

.standard_form legend {
    color: #000000;
    margin: 0;
    padding: 0 0.5em;
    font-size: .75em;
}

.standard_form .fieldset_label {
    clear: left;
    float: left;
    font-size: .75em;
    margin: 5px 5px 10px 20px;
    text-align: left;
    width: 60px;
}

.standard_form input.fieldset_input {
    border: 1px solid #C4C4C4;
    float: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: .75em;
    margin: 5px 10px 10px 0px;
    padding: 3px;
    width: 150px;
}

/*	--- Select style  - - -	*/
.standard_form select {
    border: 1px solid #9C9C9C;
    float: left;
    font-size: .75em;
    margin: 0px 0px 10px 0px;
    padding: .1em;
    width: 6em;
}
/*	--- Text style  - - -	*/
.standard_form textarea {
    height: 6em;
}
.standard_form textarea:focus, .standard_form input:focus {
    border: 1px solid #0A355F;
}

.file_input {
    float: left;
    margin-bottom: 8px;
}

/*	--- Save / cancel   - - -	*/
#save_cancel {
    border-top: solid 1px #EAE6E2;
    clear: both;
    display: block;
    height: 3em;
    margin-top: 1em;
    padding-top: 1em;
}

#response_area {
    border-top: solid 1px #EAE6E2;
    clear: both;
    display: block;
    height: 5em;
    margin-top: 1em;
    padding-top: 1em;
}

#response_table_area {
    border-top: solid 1px #EAE6E2;
    clear: both;
    display: block;
    margin-top: 1em;
    padding-top: 1em;
}

#save_cancel input {
}
.save {
    float: left;
    margin-right: 1em;
}
.cancel {
    float: left;
}
.form_right_column {
    display: block;
    float: left;
    margin-bottom: .5em;
    padding-bottom: 0em;
    width: 450px;
}
.metadata_title {
    background-color: #F4F4F4;
    border-bottom: solid #D4D4D4 1px;
    font-size: .75em;
    padding-bottom: .2em;
    padding-top: .2em;
}

.metadata_title h2 a {
    background-image: url(../graphics/minus_icon.gif);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}
.standard_table thead {
    color: #028CDC;
    font-size: .8em;
    margin: 0em;
    padding: 0em;
    text-align: left;
}
.standard_table {
    border-collapse: collapse;
    clear: both;
}
.standard_table td, .standard_table th {
    padding-left: 1.5em;
}
.standard_table td {
    border-bottom: solid #D4D4D4 1px;
    font-size: .75em;
    padding-bottom: .5em;
    padding-top: .5em;
}
.standard_table td span {
    color: #707070;
}
.standard_table td a {
    color: #004580;
    font-weight: bold;
}
.data_table {
    margin-top: 15px;
    margin-left:40px;
    margin-right:40px;
}
.data_table thead th {
    font-weight: bold;
}
.data_table thead {
    background-color: #E5E5E5;
}
.data_table th {
    color: #000;
    border-top: solid 1px #E5E5E5;
    border-bottom: solid 1px #E5E5E5;
    font-weight: normal;
    text-align: left;
    padding: 6px 6px 6px 12px;
}
table.data_table {
    font-size: .8em;
    border-collapse: collapse;
}
.data_table td {
    /* border-top: solid 1px #E5E5E5;
       border-bottom: solid 1px #E5E5E5; */
    padding: 6px 6px 6px 12px;
    color: #454545;
    vertical-align:text-top;
}
.data_table td.firstColumn {
    width: 30%;
    font-weight: bold;
}
.data_table td.pl {
    font-weight: bold;
}
.data_table td.al {
    font-style: italic;
}
.data_table td.org {
    font-weight: bold;
    color: #FFFFFF;
}
.data_table td.hd {
    font-size: 1.25em;
    font-weight: bold;
}
.data_table td a {
    text-decoration: none;
}
.data_table  tr.even{
    background-color: #F7F7F7;
    padding-top: 1em;
    /* border-top: solid 1px #E5E5E5;
       border-bottom: solid 1px #E5E5E5; */
}
.data_table tr.pd {
    height: 2em;
}
.data_table tr.org {
    background-color: #F9A45E;
}

.ld-Alternative .Label {
    font-family: 'Fira Sans', sans-serif;
}

#thumbnail{
float: left;
 margin-right: 15px;}

#thumbnail img{
max-height:130px;
min-height:130px;}

#thumbnail span{
    font-size: 0.846em;
    display:block;
    width:100%;
    text-align:center;
    margin-top: 3px;
}

#NoResultsInfoBox {
color: red;
    display: none;
    left: 567px;
    position: absolute;
    top: 5px;
}
/** allan.lukwago@devinit.org custom styles**/
.banner {
  width: 100%;
  height: 4em;
  background-image:url("frontendroot?fileName=default/images/banner.jpg");
}
.vignet {
  width: 100%;
  height: 4em;
  position: absolute;
  top: 0;
  background-color: rgba( 0,0,0, 0.5 );
}
.banner h1{
  font-size: 1.3em;
  text-align: center;
}
