#parse("default/conf.vm")

#set($showAutocomplete = false)
#set($showLanguageSelector = false)
#set($showIndexBar = false)
#set($showTabs = false)
#set($showBreadcrumb = false)
#set($bodyClass = "server")

#parse("default/head.vm")

<div class="container">
    <div id="sidebar-left">
      <h4>&nbsp;</h4>
        <p style="text-align:left">
          <a href="#home"><img src="#frontendLink('default/images/icon.png')" width="40" height="40"></a>
        </p>
      <h4>Simple search</h4>
      <!-- <div class="SearchContainer">
        <input autocomplete="off" id="SearchAutoCompleteInput" title="search" type="text">
      </div> -->
      <div class="SearchContainer">
        <div id="ACcont">
            <input autocomplete="off" class="yui-ac-input" id="SearchAutoCompleteInput" type="text" title="#_($defaultLanguage, "search")"/>
            <div class="yui-ac-container" id="SearchAutoCompleteOutput"></div>
        </div>
        <div id="NoResultsInfoBox"></div>
      </div>
      <h4>Advanced search</h4>
      <p><a href="#translator" class="tab-nav">Search or translate</a></p>
      <h4>Browse projects</h4>
      <p><a href="#Indicators"  class="tab-nav">Indicators</a></p>
      <p><a href="#Sectors" class= "tab-nav">Sectors</a></p>
      <p><a href="#Supranational_regions_and_groupings" class= "tab-nav">Supranational regions and &nbsp groupings</a></p>
      <p><a href="#Surveys" class= "tab-nav">Surveys</a></p>
      <h4>List of data standard</h4>
      <p><a href="#data_standards_index" class= "tab-nav">Alphabetical list</a></p>
      <h4>Developer access</h4>
      <p><a href="http://joinedupdata.org/PoolParty/sparql/Indicators">SPARQL</a></p>
      <p><a href="http://joinedupdata.org/PoolParty/api/">API</a></p>
      <h4><a href="http://juds.joinedupdata.org/about/">Contact us</a></h4>
      <h4><a href="http://joinedupdata.org/PoolParty/!/auth/login">Log in</a></h4>
</div>
<div id="wrapper">
  <div id="home">
      <div class="box-new">
           What is the online thesaurus?
      </div>
      <div id="panel">
          <p>&nbsp;</p>
          <p style="color: #BA0C2F"><b>This thesaurus is a free online repository of mapped data standards of <a href="http://juds.joinedupdata.org/">the Joined-up Data Standards project's</a></b></p>
                      <p>&nbsp;</p>
          <p>Each <a href="http://juds.joinedupdata.org/discussion-papers/">discussion paper </a> focuses on an area where there are multiple standards for an identical or similar purpose. While the standards are partially compatible with one another they also contain significant differences. We use the thesaurus server to cross-map these standards and then use its linked data output to build visualisations to highlight the problems. </p>
                      <p>&nbsp;</p>
          <p>The data standards are linked together using Simple Knowledge Organisation System (<a href="https://www.w3.org/2004/02/skos/intro"><b>SKOS</b></a>). SKOS not only provides a universal ‘language’ for defining relationships between concepts (terms) in a single taxonomy (vocabulary, thesaurus or classification scheme) but also a means of systematically comparing concepts in different taxonomies.	</p>
                      <p>&nbsp;</p>
          <p style="color: #933298"><b>This thesaurus is continually expanding. We will clearly label the <a href="http://127.0.0.1:5000/data_standards_index" style="color: #black"><u> list of data standards </u></a> when they become available.</b></p>
                      <p>&nbsp;</p>
          <p><b>We are actively seeking to collaborate with experts interested in (or responsible for) the standards covered by our discussion papers. Collaborators will have access to the JUDS thesaurus server and will be able to engage in discussions on cross-mapping issues. Separate project workspaces are also available on the thesaurus server for use by other open data standards that could benefit from the platform and its technology. If you are interested in working with us please <a href="juds.joinedupdata.org/about/">contact us</a>. </b> </p>
          <p>&nbsp;</p>
      </div>
    </div>
  <div class= "hide" id = "Indicators">
    <div class="box-new">
      Indicators
    </div>
    <div>
      <p>This project hosts international monitoring data standards (indicators) such as Sustainable Developmental Goals, Millennium Developmental Goals (MDGs) or World Development Indicators (WDI).  The indicators are mapped in a machine- and human-readable format to both each other and across the projects maintained on this thesaurus such as “sectors”, “ supranational regions and grouping” and “household surveys”. The cross-mapping of standards is an ongoing process and the list of the data standards in this project will increase as our work progresses. </p></div>
      <div class="listContainer">
        <div class="listControl">
          <a class="expandList" style="color:#933298">Expand all</a>
          <a class="collapseList" style="color:#933298">Collapse all</a>
        </div>


      </div>
  </div>
  <div class= "hide" id = "Sectors">
    <div class="box-new">Sectors</div>
    <div class= "listContainer">
      <p>
        This project links international data standards used as classifications for socio-economic activities.
        The project offers a machine-readable cross-walk (mapping) between major standards developed by the United Nations,
        World Bank and the Organisation for Economic Co-operation and Development (OECD). The data standards in this project are also
        mapped in a machine-readable way to standards in other projects in this Thesaurus
        such as: indicators, surveys, supranational regions and groupings as well as Natural Resource Governance Institute (NRGI).
      </p>
      <div class="listControl">
        <a class="expandList" style="color:#933298">Expand all</a>
        <a class="collapseList" style="color:#933298">Collapse all</a>
      </div>
      <div class = "schemes">
        <ul class= "expList">

        </ul>
      </div>
    </div>

  </div>
  <div class= "hide" id = "Surveys">
  </div>
  <div class= "hide" id = "Supranational_regions_and_groupings"><p>Supranational_regions_and_groupings</p></div>
  <div class= "hide" id = "data_standards_index"></div>
  <div class= "hide" id = "translator">
    <div class="box-new">
      Search or translate
    </div>
    <p>
    Welcome to Joined-up Data Standards search or translate engine.
    This tool provides advanced options for searching relationships between data standards.
    The <b>simple search</b> lets users find all concepts that contain a search term or code.
    The <b>advanced filters</b>  allow for a "translation" between data standards.
    By using advanced filters, it is possible to retrieve the exact relationships between data standards and filter a precise result.
    </p>
    <div class="column-left">
      <h4 style="color:#933298">You can either search using a term, such as "agriculture"...</h4>
      <form name="searchTerm">
        <input name="term" id="term" class="text" placeholder="Search term.." type="text">
      </form>
    </div>
    <div class="column-right">
      <h4 style="color:#933298">...or you can search using a specific code, such as 1.1.1</h4>
      <input name="code" id="code" class="text" placeholder="or a code.." type="text">
    </div>
    <div class="column" style="text-align:centre; text-indent: 10px">
      <h4 style="text-align:center">Which project* would you like to search?</h4>
      <select name="source" id= "source">
        <option value="er">All</option>
        <option value="Indicators">indicators</option>
        <option value="Sectors">sectors</option>
        <option value="Surveys">surveys</option>
        <option value="geo-pol">supranational regions and groupings</option>
      </select>
      <p>
        <b>*</b> Data standards are grouped into projects.
          Currently we have four projects: "indicators" (the list of corresponding data standards is available <b><a href="http://127.0.0.1:5000/projects_page1">here</a></b>),
          "sectors" (the list of corresponding data standards is available <b><a href="http://127.0.0.1:5000/projects_page2">here</a></b>),
          "supranational regions and groupings" (the list of corresponding data standards is available <b><a href="http://127.0.0.1:5000/projects_page3">here</a></b>),
          and "surveys" (the list of corresponding data standards is available <b><a href="http://127.0.0.1:5000/projects_page4">here</a></b>).
      </p>
    </div>
    <center><input value="Simple search" style="color:#FFFFFF" type="submit" id="submit"></center>

    <div class="box-new">Advanced filters</div>
    <div class="column-left" style="text-align:centre; text-indent: 10px">
      <h4 style=" text-align:centre; ">(1) What translation would you like to be returned?</h4>
      <select name="match" id = "match">
        <option value="er">any</option>
        <option value="ANY">show me all matches</option>
        <option value="SKOS:Exact">exactly the same</option>
        <option value="SKOS:Close">very similar</option>
        <option value="SKOS:Broader">more general to the search term/ broader</option>
        <option value="SKOS:Narrower">more specific to the search term/ narrower</option>
      </select>
    </div>
    <p>
      <b>1</b> You can discover different relationships to your search term/code.
      You can choose to view all the relationships to your search term/code or a specific one.
      We use <a href="https://www.w3.org/2004/02/skos/intro">Simple Knowledge Organisation System </a> (SKOS) to map data standards; a practical example of our mapping approach can be found
      <b> <a href="http://juds.joinedupdata.org/discussion-papers/paper-4-household-surveys/#_Toc328733940">here</a></b>.
    </p>
    <div class="column-left" style="text-align:centre; text-indent: 10px">
      <h4>(2) Choose <a href="http://127.0.0.1:5000/data_standards_index">data standard</a> you would like to translate from..</h4>
      <h5></h5>
      <select name="start" id = "start">
        <option value="er">Any</option>
        <option value="cofog">COFOG</option>
        <option value="crs">CRS</option>
        <option value="ntee">NTEE</option>
        <option value="isic">ISIC</option>
        <option value="world_bank_themes">World Bank Themes</option>
        <option value="world_bank_sectors">World Bank Sectors</option>
        <option value="mdg">MDG</option>
        <option value="sdg">SDG</option>
        <option value="wdi">WDI</option>
        <option value="dhsq7">DHS-VII</option>
        <option value="mics5">MICS5</option>
      </select>
    </div>
    <div class="column-right">
      <h4>(3)..choose <a href="http://127.0.0.1:5000/data_standards_index">data standard</a> you would like to translate to!</h4>
      <h5></h5>
      <select name="destination" id= "destination">
        <option value="er">Any</option>
        <option value="cofog">COFOG</option>
        <option value="crs">CRS</option>
        <option value="ntee">NTEE</option>
        <option value="isic">ISIC</option>
        <option value="world_bank_themes">World Bank Themes</option>
        <option value="world_bank_sectors">World Bank Sectors</option>
        <option value="mdg">MDG</option>
        <option value="sdg">SDG</option>
        <option value="wdi">WDI</option>
        <option value="dhsq7">DHS-VII</option>
        <option value="mics5">MICS5</option>
      </select>
    </div>
    <p style="text-align:left">
      <b>(3,4)</b> These options allow you to find direct translations between data standards.
      You might want to search for a given code and ask to see its translation in a data standard of your interest.
    </p>
    <center><input value="Advanced search" style="color:#FFFFFF" type="submit" class = "submit"></center>
  </div>
  <div class = "hide" id = "results">
    <div class="new-box" style="background-color: #EA7600"> Results	</div>
    <button class="accordion" id= "results-no"><b></b></button>
    <div class="panel" style="text-align:left; overflow: auto">
      <ul style="list-style-type:none" id= "results">
      </ul>
    </div>
    <button class="accordion" id="trans-no"><b></b></button>
    <div id="trans" class="panel" style="text-align:left; overflow: auto">
      <ul style="list-style-type:none">
      </ul>
    </div>
    <button class="accordion"><b>Download results RDF/XML</b></button>
    <div id="xml-download" class="panel" style="text-align:center; overflow: auto">
      <a href="#" style="color:black; font-size: 1.2em">
      <img src="/static/favicon.ico" alt="favicon" style="width:12px;height:12px;border:0"> RDF/XML </a>
    </div>
  </div>

  </div>
</div>
#parse("default/foot.vm")
