#parse("default/conf.vm")

#set($showAutocomplete = false)
#set($showLanguageSelector = false)
#set($showIndexBar = false)
#set($showTabs = false)
#set($showBreadcrumb = false)
#set($bodyClass = "server")

#parse("default/head.vm")
  <p class="server-intro">#_($defaultLanguage, "server-intro")</p>
	<div class="table">
    <ul class="projects">
#foreach($projectBean in $projects)
  #if ($projectBean.get($DCTERMS_TITLE))
    #if ($foreach.count % 2 == 1)
      #set($evenOdd = "even")
    #else
      #set($evenOdd = "odd")
    #end
    #set($project = $projectBean.resource)
        <li about="$projectBean.resource" class="$evenOdd">
          <h2><a href="$projectBean.resource">$tools.rdfa.print($projectBean.get($DCTERMS_TITLE).get(0), $DCTERMS_TITLE, $namespaces)</a></h2>
          <p class="description"> $tools.rdfa.print($projectBean.get($DCTERMS_SUBJECT).get(0), $DCTERMS_SUBJECT, $namespaces)</p>
    #if ($projectBean.get($DCTERMS_MODIFIED).get(0))
          <p class="meta">#_($defaultLanguage, "last-modified"): $tools.rdfa.print($projectBean.get($DCTERMS_MODIFIED).get(0), $DCTERMS_MODIFIED, $namespaces)</p>
    #end
    #if ($projectBean.get($SW_NUMBEROFCONCEPTS))
          <p class="meta meta_concepts">#_($defaultLanguage, "total-concepts"): $projectBean.get($SW_NUMBEROFCONCEPTS).get(0).label</p>
    #end
    #if ($downloads.get($project))
          <p class="downloads">
            <b>#_($defaultLanguage, "downloads"): </b>
      #foreach($download in $downloads.get($project).entrySet())
            <span class="$download.key.toLowerCase().replaceAll('\W','')"><a href="$download.value">$download.key</a></span>
      #end
          </p>
    #end
        </li>
  #end
#end
    </ul>
  </div>
#parse("default/foot.vm")
