###########################################################
## URI DEFINITIONS SHORTCUTS
###########################################################
##
#set($RDFS_LABEL = "http://www.w3.org/2000/01/rdf-schema#label")
##
#set($RDF_TYPE = "http://www.w3.org/1999/02/22-rdf-syntax-ns#type")
##
#set($VOID_SPARQLENDPOINT = "http://rdfs.org/ns/void#sparqlEndpoint")
##
#set($DC_TITLE = "http://purl.org/dc/elements/1.1/title")
#set($DC_SUBJECT = "http://purl.org/dc/elements/1.1/subject")
##
#set($DCTERMS_TITLE = "http://purl.org/dc/terms/title")
#set($DCTERMS_SUBJECT = "http://purl.org/dc/terms/subject")
#set($DCTERMS_DESCRIPTION = "http://purl.org/dc/terms/description")
#set($DCTERMS_HASVERSION = "http://purl.org/dc/terms/hasVersion")
#set($DCTERMS_MODIFIED = "http://purl.org/dc/terms/modified")
#set($DCTERMS_CREATED = "http://purl.org/dc/terms/created")
#set($DCTERMS_CREATOR = "http://purl.org/dc/terms/creator")
#set($DCTERMS_CONTRIBUTOR = "http://purl.org/dc/terms/contributor")
#set($DCTERMS_PUBLISHER = "http://purl.org/dc/terms/publisher")
#set($DCTERMS_LANGUAGE = "http://purl.org/dc/terms/language")
#set($DCTERMS_DATE = "http://purl.org/dc/terms/date" )
#set($DCTERMS_LICENSE = "http://purl.org/dc/terms/license")
#set($DCTERMS_SOURCE = "http://purl.org/dc/terms/source")
##
#set($SKOS_CONCEPTSCHEME = "http://www.w3.org/2004/02/skos/core#ConceptScheme")
#set($SKOS_HASTOPCONCEPT = "http://www.w3.org/2004/02/skos/core#hasTopConcept")
#set($SKOS_PREFLABEL = "http://www.w3.org/2004/02/skos/core#prefLabel")
#set($SKOS_ALTLABEL = "http://www.w3.org/2004/02/skos/core#altLabel")
#set($SKOS_HIDDENLABEL = "http://www.w3.org/2004/02/skos/core#hiddenLabel")
#set($SKOS_NOTATION = "http://www.w3.org/2004/02/skos/core#notation")
#set($SKOS_SCOPENOTE = "http://www.w3.org/2004/02/skos/core#scopeNote")
#set($SKOS_EXAMPLE = "http://www.w3.org/2004/02/skos/core#example")
#set($SKOS_DEFINITION = "http://www.w3.org/2004/02/skos/core#definition")
#set($SKOS_BROADER = "http://www.w3.org/2004/02/skos/core#broader")
#set($SKOS_NARROWER = "http://www.w3.org/2004/02/skos/core#narrower")
#set($SKOS_RELATED = "http://www.w3.org/2004/02/skos/core#related")
#set($SKOS_BROADERTRANSITIVE = "http://www.w3.org/2004/02/skos/core#broaderTransitive")
#set($SKOS_NARROWERTRANSITIVE = "http://www.w3.org/2004/02/skos/core#narrowerTransitive")
#set($SKOS_EXACTMATCH = "http://www.w3.org/2004/02/skos/core#exactMatch")
#set($SKOS_CLOSEMATCH = "http://www.w3.org/2004/02/skos/core#closeMatch")
#set($SKOS_BROADMATCH = "http://www.w3.org/2004/02/skos/core#broadMatch")
#set($SKOS_NARROWMATCH = "http://www.w3.org/2004/02/skos/core#narrowMatch")
#set($SKOS_TOPCONCEPTOF = "http://www.w3.org/2004/02/skos/core#topConceptOf")
##
#set($SW_NUMBEROFCONCEPTS = "http://www.semantic-web.at/ppcl/numberOfConcepts")
#set($SW_NUMBEROFCONCEPTSCHEMES = "http://www.semantic-web.at/ppcl/numberOfConceptSchemes")
#set($SW_AVAILABLELANGUAGES = "http://www.semantic-web.at/ppcl/availablelanguages")
##
#set($VCARD_POSTALCODE = "http://www.w3.org/2006/vcard/ns#postal-code")
#set($VCARD_LOCALITY = "http://www.w3.org/2006/vcard/ns#locality")
#set($VCARD_STREETADDRESS = "http://www.w3.org/2006/vcard/ns#street-address")
#set($VCARD_TEL = "http://www.w3.org/2006/vcard/ns#tel")
##
#set($DBPEDIA_THUMBNAIL = "http://dbpedia.org/ontology/thumbnail")
#set($DBPEDIA_ABSTRACT = "http://dbpedia.org/ontology/abstract")
#set($DE_DBPEDIA_NS = "http://de.dbpedia.org/property/Ns")
#set($DE_DBPEDIA_EW = "http://de.dbpedia.org/property/Ew")