    </div>  <!-- main_content -->
#if( $projectId )
    </div>  <!-- content_wrapper -->
#end
  </div>    <!-- container -->
  <footer class = "footer">
    <div class="social">
        <div class="container">
            <div class="row">
              <p>
                  <a href="http://twitter.com/joinedup_data" class="fa fa-twitter" target="_blank" style="color: white"></a>
              </p>
            </div>
        </div>
        </div>
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    <p><span>© 2016 <a href="http://devinit.org"> Development Initiatives</a> + <a href="http://www.publishwhatyoufund.org"> Publish What You Fund</a> </span></p>
                    <p>Development Initiatives Poverty Research, registered in England and Wales (06368740)</p>
                    <p>Publish What You Fund, registered in England and Wales (1158362). </p>
                    <p><a href="mailto:info@joinedupdata.org">info@joinedupdata.org.</a> Twitter: <a href="https://twitter.com/joinedup_data" target="_blank">@Joinedup_Data</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
      <script src ="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js"></script>
      <script type="text/javascript" src="#frontendLink('default/js/app.js')"></script>
</body>
</html>
