###########################################################
## MAKRO IMPLEMENTATIONS
###########################################################

## This macros produces html links
#macro( frontendLink $fileName )$contextPath/OpenConfigPathResourceProvider/frontendroot?fileName=$fileName#end
#macro( yuiLink $fileName )$contextPath/yui-2.9.0/build/$fileName#end


## Make a list of characters (A-Z) for the index bar
#macro( showIndexBar )
  <ul>
  #foreach( $char in $indexChars )
    <li><a>$char</a></li>
  #end
  </ul>
#end


## Translats text
#macro( _ $language $key )#if( $systemlang.get($language).get($key) )$systemlang.get($language).get($key)#else$key#end#end


## Displays the value of a property
#macro( showValue $value )
  #if( $associatedLabels.get($value) )
    #set( $conceptLabels = $associatedLabels.get($value) )
    #set( $linkText = $value.stringValue() )
    #foreach( $conceptLabel in $conceptLabels )
      #if( $conceptLabel.language.equals($lang) )
        #set( $linkText = $conceptLabel.label )
      #end
    #end
    <li><a href="$value.stringValue()">$linkText</a></li>
  #else
    #if( $value.language )
      #if( $value.language.equals($lang) )
      <li>$value.label</li>
      #end
    #elseif( $value.class.name.equals("org.openrdf.sail.nativerdf.model.NativeURI") || 
             $value.class.name.equals("org.openrdf.sail.memory.model.MemURI") )
      <li><a href="$value.stringValue()">$value.stringValue()</a></li>
    #elseif( $value.datatype.toString().equals("http://www.w3.org/2001/XMLSchema#dateTime") )
      <li>#showDate( $value, "" )</li>
    #else
      <li>$value.stringValue()</li>
    #end
  #end
#end


## Displays a date using the specified format
#macro( showDate $date $format )
  #if( $format.equals("") )
    #set($format = $dateFormat)
  #end
  $tools.format.formatDateLiteral($date, $format, $timeZone)
#end


## extract geodata from data entryset
#set( $resourceData = {} )
#macro( extractResourceData )
  #set( $dbpediaData = $data.get("http://de.dbpedia.org") )
  #set( $resourceData.lon = $!dbpediaData.get("http://de.dbpedia.org/property/ew").get(0).stringValue() )
  #set( $resourceData.lat = $!dbpediaData.get("http://de.dbpedia.org/property/ns").get(0).stringValue() )
  #set( $resourceData.thumbnail = $!dbpediaData.get("http://dbpedia.org/ontology/thumbnail").get(0) )
  #set( $resourceData.exactMatch = $!dbpediaData.get($SKOS_EXACTMATCH).get(0) )
  
  #set( $resourceData.postalCode = $!data.default.get($VCARD_POSTALCODE).get(0).label )
  #set( $resourceData.locality = $!data.default.get($VCARD_LOCALITY).get(0).label )
  #set( $resourceData.streetAddress = $!data.default.get($VCARD_STREETADDRESS).get(0).label )
  #set( $resourceData.tel = $!data.default.get($VCARD_TEL).get(0).label )
  
  #foreach ( $currentLang in $availableLanguages )
    #set( $lang = $currentLang.label )
    #foreach( $prefLabel in $data.default.get($SKOS_PREFLABEL) )
      #if( $lang == $prefLabel.language )
        #set( $resourceData.prefLabel = $!prefLabel.label )
      #end
    #end
  #end
#end
