#parse("default/conf.vm")
#set($bodyClass = "project")
#parse("default/head.vm")

  <h1>$projectName</h1>
	<ul>
    <li class="box">
			<h2>#_($defaultLanguage, "general")</h2>
			<ul>
				<li>
					<div class="label">#_($defaultLanguage, $SW_NUMBEROFCONCEPTS):</div><div class="value">$project.get($SW_NUMBEROFCONCEPTS).get(0).label</div>
				</li>
#if( $modified )
				<li>
					<div class="label">#_($defaultLanguage, "last-modified"):</div><div class="value">#showDate($modified, "")</div>
				</li>
#end

#set($projectDescription = $project.get($DCTERMS_DESCRIPTION).get(0).label)
#if($projectDescription)
				<li>
					<div class="label">#_($defaultLanguage, $DCTERMS_DESCRIPTION):</div><div class="value">$projectDescription</div>
				</li>
#end

##set($projectSubject = $project.get($DCTERMS_SUBJECT).get(0).label)
##if($projectSubject)
##        <li>
##          <div class="label">#_($defaultLanguage, $DCTERMS_SUBJECT):</div><div class="value">$projectSubject</div>
##        </li>
##end

#set($projectAuthor = $project.get($DCTERMS_CREATOR).get(0).label)
#if($projectAuthor)
        <li>
          <div class="label">#_($defaultLanguage, $DCTERMS_CREATOR):</div><div class="value">$projectAuthor</div>
        </li>
#end

#set($projectPublisher = $project.get($DCTERMS_PUBLISHER).get(0).label)
#if($projectPublisher)
        <li>
          <div class="label">#_($defaultLanguage, $DCTERMS_PUBLISHER):</div><div class="value">$projectPublisher</div>
        </li>
#end

#set($projectContributor = $project.get($DCTERMS_CONTRIBUTOR).get(0).label)
#if($projectContributor)
        <li>
          <div class="label">#_($defaultLanguage, $DCTERMS_CONTRIBUTOR):</div><div class="value">$projectContributor</div>
        </li>
#end

#set($projectLicense = $project.get($DCTERMS_LICENSE).get(0).label)
#if($projectLicense)
        <li>
          <div class="label">#_($defaultLanguage, $DCTERMS_LICENSE):</div><div class="value">$projectLicense</div>
        </li>
#end
      </ul>

    </li>
#if($showConceptScheme)
    <li class="box">
      <h2>#_($defaultLanguage, "concept_schemes")</h2>
      <ul>
      #foreach($conceptScheme in $conceptSchemes)
        #foreach($title in $conceptScheme.get($DCTERMS_TITLE))
           #if($defaultLanguage == $title.language)
             #set($uri = $conceptScheme.resource)
             <li><a href="$uri">$title.label</a></li>
           #end
        #end
      #end
      </ul>
    </li> ## ConceptSchemeList
#else
    <li class="box">
      <h2>#_($defaultLanguage, "top_concepts")</h2>
      <ul>
      #foreach($concept in $topConcepts)
        #foreach($prefLabel in $concept.get($SKOS_PREFLABEL))
      	  #if($defaultLanguage == $prefLabel.language)
      	    #set($uri = $concept.resource)
            <li><a href="$uri">$prefLabel.label</a></li>
    	  #end
  	#end
      #end
      </ul>
    </li> ## ConceptList
#end
#if ($downloads)
    <li class="box downloads">
			<h2>#_($defaultLanguage, "downloads")</h2>
  #foreach ($downloadKey in $downloads.keySet())
    #set($downloadIdentifier = $downloadKey.replace('/','').toLowerCase())
      <span class="$downloadIdentifier download_link"><a href="$downloads.get($downloadKey)">$downloadKey</a></span>
  #end
    </li>
#end
  </ul>
#parse("default/foot.vm")
