<tr>
    <td class="first strong">
        <a name="$relation.uri.localName"></a>
        rdfs:label
    </td>
    <td class="last">
        $relation.label.label
    </td>
</tr>

#if ($relation.domain.size() != 0)
<tr>
    <td class="first strong">
        Domain
    </td>
    <td class="last">
        $relation.domain
    </td>
</tr>
#end

<tr>
    <td class="first strong">
        SKOS Domain
    </td>
    <td class="last">
        $relation.skosDomain.localName
    </td>
</tr>

#if ($relation.range.size() != 0)
<tr>
    <td class="first strong">
        Range
    </td>
    <td class="last">
        $relation.range
    </td>
</tr>
#end

<tr>
    <td class="first strong">
        SKOS Range 
    </td>
    <td class="last">
        $relation.skosRange.localName
    </td>
</tr>
<tr>
    <td class="first strong">
        Unique 
    </td>
    <td class="last">
        $relation.unique
    </td>
</tr>
#if ($relation.version != $relation.version) 
    <tr>
        <td class="first strong">
            version
        </td>
        <td class="last">
            $relation.version
        </td>
    </tr>
#end