#parse("default/conf.vm")
#set($bodyClass = "resource")
#parse("default/head.vm")

#if("$!data.default.get($SKOS_HASTOPCONCEPT)" != "")
  #set($showVisualTab = false)
  #parse("default/resource/conceptscheme.vm")
#else
  #parse("default/resource/concept.vm")
#end

#parse("default/foot.vm")