#set($systemlang.de = {
"address"                 : "Adresse",
"downloads"               : "Downloads",
"general"                 : "Allgemein",
"last-modified"           : "Letzte Änderung",
"total-concepts"	  : "Anzahl an Konzepten",
"no_concept_found"        : "Keinen Begriff gefunden",
"other_graphs"            : "Verlinkungen zu anderen Thesauri und Vokabularen",
"server-intro"            : "",
"top_concepts"            : "Hauptthemen",
"concept_schemes"	  : "Concept Scheme",
"view_more"               : "mehr",
"view_less"               : "reduzieren",
"wikipedia_article"       : "Wikipedia Artikel",
"search"		  : "Finden ...",
$DBPEDIA_ABSTRACT         : "Abstrakt",
$DBPEDIA_THUMBNAIL        : "Vorschaubild",
$DE_DBPEDIA_NS            : "Nord-Süd Koordinate",
$DE_DBPEDIA_EW            : "Ost-West Koordinate",
$DCTERMS_CONTRIBUTOR      : "Beitragender",
$DCTERMS_CREATED          : "Erzeugt am",
$DCTERMS_CREATOR          : "Autor",
$DCTERMS_DESCRIPTION      : "Beschreibung",
$DCTERMS_LICENSE          : "Lizens",
$DCTERMS_MODIFIED         : "Geändert am",
$DCTERMS_PUBLISHER        : "Herausgeber",
$DCTERMS_SUBJECT          : "Thema",
$DCTERMS_SOURCE		  : "Quelle",
$RDF_TYPE                 : "RDF Typ",
$RDFS_LABEL               : "Name",
$SKOS_ALTLABEL            : "Alternativbegriffe",
$SKOS_BROADER             : "Übergeordnete Begriffe",
$SKOS_BROADERTRANSITIVE   : "Übergeordnete Begriffe (Transitiv)",
$SKOS_EXACTMATCH          : "Konzepte mit exakter Übereinstimmung",
$SKOS_CLOSEMATCH          : "Konzepte mit hoher Übereinstimmung",
$SKOS_HIDDENLABEL         : "Nicht verwendete Begriffe",
$SKOS_NARROWER            : "Untergeordnete Begriffe",
$SKOS_NARROWERTRANSITIVE  : "Untergeordnete Begriffe (Transitiv)",
$SKOS_PREFLABEL           : "Bevorzugterbegriff",
$SKOS_RELATED             : "Verwandte Begriffe",
$SKOS_SCOPENOTE		  : "Anwendungshinweis" ,
$SKOS_DEFINITION	  : "Definition" ,
$SKOS_TOPCONCEPTOF	  : "Ober Begriff von" ,
$SW_NUMBEROFCONCEPTS      : "Anzahl Konzepte",
$VCARD_TEL                : "Tel."
})