#set($systemlang.en = {
"address"                 : "Address",
"downloads"               : "Downloads",
"general"                 : "General",
"last-modified"           : "Last Modified",
"total-concepts"	  : "Number of Concepts",
"no_concept_found"        : "No concept found",
"other_graphs"            : "Links to other vocabularies and thesauri",
"server-intro"            : "",
"top_concepts"            : "Top concepts",
"concept_schemes"	  : "Concept Scheme",
"view_more"               : "view more",
"view_less"               : "view less",
"wikipedia_article"       : "Wikipedia article",
"search"		  : "Search ...",
$DBPEDIA_ABSTRACT         : "Abstract",
$DBPEDIA_THUMBNAIL        : "Thumbnail",
$DE_DBPEDIA_NS            : "Nord-South Coordinate",
$DE_DBPEDIA_EW            : "East-West Coordinate",
$DCTERMS_CONTRIBUTOR      : "Contributor",
$DCTERMS_CREATED          : "Created on",
$DCTERMS_CREATOR          : "Author",
$DCTERMS_DESCRIPTION      : "Description",
$DCTERMS_MODIFIED         : "Modified on",
$DCTERMS_LICENSE          : "License",
$DCTERMS_PUBLISHER        : "Publisher",
$DCTERMS_SUBJECT          : "Subject",
$DCTERMS_SOURCE		  : "Source",
$RDF_TYPE                 : "RDF Type",
$RDFS_LABEL               : "Label",
$SKOS_ALTLABEL            : "Alternative Labels",
$SKOS_BROADER             : "Broader Concepts",
$SKOS_BROADERTRANSITIVE   : "Broader Concepts (transitive)",
$SKOS_EXACTMATCH          : "Concepts with exact match",
$SKOS_CLOSEMATCH          : "Concepts with close match",
$SKOS_HIDDENLABEL         : "Hidden Labels",
$SKOS_NARROWER            : "Narrower Concepts",
$SKOS_NARROWERTRANSITIVE  : "Narrower Concepts (transitive)",
$SKOS_PREFLABEL           : "Preferred Label",
$SKOS_RELATED             : "Related Concepts",
$SKOS_SCOPENOTE		  : "Scope Note" ,
$SKOS_DEFINITION	  : "Definition" ,
$SKOS_TOPCONCEPTOF	  : "Top Concept of" ,
$SW_NUMBEROFCONCEPTS      : "Total concepts",
$VCARD_TEL                : "Tel."
})