<div id="resources">
#foreach( $currentLang in $availableLanguages )
  #set( $lang = $currentLang.label )
  <div id="${lang}" about="${resource}" #if(!$lang.equals( $defaultLanguage )) style="display:none;" #end class="resource ${lang}">
    #set($titles = $data.default.get($SKOS_PREFLABEL))
    #foreach($title in $titles)
        #if($lang == $title.language)
            <h1>${title.label}</h1>
            <a href="$URI">$URI</a>
        #end
    #end
  #if( $resourceData.streetAddress || $resourceData.locality || $resourceData.tel || $resourceData.thumbnail )
    <div class="box addressbox">
    #if( $resourceData.thumbnail )
			<div id="thumbnail">
			  <img src="$resourceData.thumbnail" /><br/>
			#if( $resourceData.exactMatch )
			  <span>(<a href="$resourceData.exactMatch" target="_blank">#_($lang, "wikipedia_article")</a>)</span>
			#end
			</div>
		#end
	  #if( $resourceData.streetAddress || $resourceData.locality || $resourceData.tel )
    	<h2>#_($lang, "address")</h2>
    #end
    #if( $resourceData.streetAddress ) $resourceData.streetAddress<br /> #end
    #if( $resourceData.locality ) $resourceData.postalCode $resourceData.locality<br /> #end
    #if( $resourceData.tel ) #_($lang, $VCARD_TEL): $resourceData.tel #end
    </div>
  #end
  
    <ul class="default">
  #foreach( $key in $listedProperties )
    #set( $default = $data.default )
    #if( $default.get($key) )
      #set( $values = $default.get($key) )
      <li class="box">
        <h2><a href="$key" target="_blank">#_($lang, $key)</a></h2>
        <ul>
      #foreach( $value in $tools.format.sortAlphabetically($values, $labels) )
        #showValue( $value )
      #end
        </ul>
      </li>
    #end
  #end
    </ul>

##############################################################################################
##               VIEW MORE
##############################################################################################
    <a class="more" href="javascript:showMore()">#_($lang, "view_more")</a>
    <ul class="default more" style="display:none">
  #foreach( $entry in $data.default.entrySet() )
    #if( !$tools.lists.contains( $fixedProperties, $entry.key ) && !$tools.lists.contains( $listedProperties, $entry.key ) )
      <li class="box">
        <h2><a href="$entry.key" target="_blank">$labels.getString($entry.key)</a></h2>
          <ul>
      #foreach( $value in $tools.format.sortAlphabetically($entry.value, $labels) )
        #showValue( $value )
      #end
          </ul>
      </li>
    #end
  #end
    </ul>
  #if( $showRdfXmlLink )
    <div class="box downloads">
        <h2>#_($lang, "downloads")</h2>
        <span class="rdfxml download_link"><a href="${URI}.rdf">RDF/XML</a></span>
    </div>
  #end

#########################################################################################################################
##            Linked Data Graphs
#########################################################################################################################
  #set( $otherGraphs = false)
  #foreach( $graph in $data.entrySet() )
    #if( $graph.key != 'default' )
      #set( $otherGraphs = true )
    #end
  #end
  #if( $otherGraphs )
    <h1 class="other">#_($lang, "other_graphs")</h1>
    <ul>
    #foreach( $graph in $data.entrySet() )
      #if( $graph.key != 'default' )
        #set( $currentGraph = $data.get($graph.key) )
      <li class="box ld" data-source="$graph.key">
        <h2 class="heading"><a href="$labels.getString($graph.key)">$labels.getString($graph.key)</a></h2>
        #foreach( $entry in $data.get($graph.key).entrySet() )
        <div class="row">
          <div class="label"><a href="$entry.key" target="_blank">#_($lang, $entry.key)</a></div>
          <div class="value">
            <ul>
          #foreach( $value in $tools.format.sortAlphabetically($entry.value, $labels) )
            #showValue( $value )
          #end
            </ul>
          </div>
        </div>
        #end
      </li>
      #end
    #end
    </ul>
  #end
  </div> ## END of LANG Div
#end ## END OF LANGUAGE FOREACH
</div> ## END of Resources Div
