#parse("default/conf.vm")
#set($bodyClass = "resource")
#parse("default/head.vm")

  <script type="text/javascript" src="#frontendLink('default/map/OpenLayers.js')"></script>
  <script type="text/javascript" src="#frontendLink('default/map/OpenStreetMap.js')"></script>
  <script type="text/javascript">
  <!--
    var map, markers, layer;
    
    $(document).ready(function() {

#if( !$resourceData.lon.equals("") && !$resourceData.lat.equals("") )
      var position = getPosition('$resourceData.lon', '$resourceData.lat');
      var zoom = $mapResourceZoom;

      addMap();
      if( !map.getCenter() ){
        map.setCenter (position, zoom);
      }

      var content = generatePopupContent("$resourceData.prefLabel", "$!resourceData.thumbnail", "$!resourceData.postalCode", "$!resourceData.locality", "$!resourceData.streetAddress", "$!resourceData.tel");
      addMarker(position, content, "#frontendLink($mapDefaultMarker)", true, false);
#else
    $("#map").html("No geodata found");
#end
    });
  //-->
  </script>

<div id="resources">
#foreach ($currentLang in $availableLanguages)
  #set($lang=$currentLang.label)
  #foreach($prefLabel in $data.default.get($SKOS_PREFLABEL))
    #if($lang == $prefLabel.language)
      <h1>$prefLabel.label</h1>
    #end
  #end
#end
  <div id="map" style="height:512px"></div>
</div>
#parse("default/foot.vm")